PORT=5003
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/shopzone-orders?retryWrites=true&w=majority
USER_SERVICE_URL=http://user-service:5001
PRODUCT_SERVICE_URL=http://product-service:5002
NODE_ENV=development
