PORT=5004
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/shopzone-payments?retryWrites=true&w=majority
USER_SERVICE_URL=http://user-service:5001
ORDER_SERVICE_URL=http://order-service:5003
NODE_ENV=development
